<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<center>
	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
		<tr>
			<td align="center" valign="top">
				<!-- // Begin Template Preheader \\ -->
				<table border="0" cellpadding="10" cellspacing="0" width="980" id="templatePreheader">
					<tr>
						<td valign="top" class="preheaderContent">

							<!-- // Begin Module: Standard Preheader \\ -->
							<table border="0" cellpadding="10" cellspacing="0" width="100%">
							</table>
							<!-- // End Module: Standard Preheader \\ -->

						</td>
					</tr>
				</table>
				<!-- // End Template Preheader \\ -->
				<table border="0" cellpadding="0" cellspacing="0" width="980" id="templateContainer">
					<tr>
						<td align="center" valign="top">
							<!-- // Begin Template Header \\ -->
							<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
								<tr>
									<td class="headerContent" style="text-align: center;">

										<!-- // Begin Module: Standard Header Image \\ -->
										<img src="{{ host }}/calendar/images/email_logo_beta.jpg"
											 style="max-width:600px;" id="headerImage campaign-icon"
											 mc:label="header_image" mc:edit="header_image" mc:allowdesigner
											 mc:allowtext>
										<!-- // End Module: Standard Header Image \\ -->

									</td>
								</tr>
							</table>
							<!-- // End Template Header \\ -->
						</td>
					</tr>
					<tr>
						<td align="center" valign="top">
							<!-- // Begin Template Body \\ -->
							<table border="0" cellpadding="10" cellspacing="0" width="980" id="templateBody">
								<tr>
									<td valign="top" class="bodyContent">
										<!-- // Begin Module: Standard Content \\ -->
										<table border="0" cellpadding="10" cellspacing="0" width="100%">
											<tr>
												<td valign="top" class="line-vertical" width="490">
													<table border="0" cellpadding="10" cellspacing="0" width="100%">
														<tr style="width: 100%;">
															<td>Hello {{ opName }} </td>
														</tr>

														<tr style="width: 100%; margin-top: 25px;">
															<td>
																<h5><em>{{ name }}</em> wants to make an exchange of days:</h5>
																{{ selectedDate }}
															</td>
														</tr>

														<tr><td>&nbsp;</td></tr>

														<tr style="width: 100%; margin-top: 30px;"><td><strong>Original</strong></td></tr>
														{% for kid in kids %}
															{% if kid['id'] == ownKid %}
																<tr style="width: 100%; margin-top: 2px;">
																	<td>
																		{% if kidExchangePrev[kid['id']] %}
																			{{ kid['fullName'] }} with {{ name }}
																		{% else %}
																			{{ kid['fullName'] }} with you
																		{% endif %}
																	</td>
																</tr>
															{% endif %}
														{% endfor %}

														<tr><td>&nbsp;</td></tr>

														<tr style="width: 100%; margin-top: 30px; background-color: #ffff99;"><td><strong>Change request</strong></td></tr>
														{% for kid in kids %}
															{% if kid['id'] == ownKid %}
																<tr style="width: 100%; margin-top: 5px; background-color: #ffff99;">
																	<td>
																		{% if (kidExchange[kid['id']] is defined) and (kidExchangePrev[kid['id']] != kidExchange[kid['id']] and kidExchange[kid['id']]) %}
																			{{ kid['fullName'] }} is with {{ name }}
																		{% elseif (kidExchange[kid['id']] is defined) and (kidExchangePrev[kid['id']] != kidExchange[kid['id']] and not kidExchange[kid['id']]) %}
																			{{ kid['fullName'] }} is with you
																		{% endif %}
																	</td>
																</tr>
															{% endif %}
														{% endfor %}

														<tr><td>&nbsp;</td></tr>

														<tr style="width: 100%; margin-top: 20px;">
															<td>
																<a href="{{ host }}/calendar/{{ otherParentUserName }}" target="_blank">Check out the changes and respond to request here.</a>
															</td>
														</tr>

														<tr style="width: 100%; margin-top: 20px;">
															<td>
																<strong>{{ name }}'s comment:</strong><br/>
																<blockquote><em>{{ comment }}</em></blockquote>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<!-- // End Module: Standard Content \\ -->
									</td>
								</tr>
							</table>
							<!-- // End Template Body \\ -->
						</td>
					</tr>
				</table>
				<br>
			</td>
		</tr>
	</table>
</center>
</body>
</html>
