<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Loosemonkies - Putting the world to work</title>

    <style type="text/css">

        body {
            background: #e6ebee;
            color: #666;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            font-size: 12px;
            margin: 0 0 10px;
            color: #666;
            text-align: justify;
            line-height: 24px;
        }

        h3 {
            font-weight: normal;
            margin: 10px 0 0;
        }

        a, a:link, a:visited {
            color: #71bf44;
        }

        h2 {
            font-size: 18px;
            margin: 0 0 5px;
        }

    </style>

</head>
<body>

<p>Dear {{ firstName }} {{ lastName }},</p>

<p>Thanks once again for activate your account with Loosemonkies!</p>

<p>The secret to getting the most accurate job matches in our system is actually quite
    simple. All you have to do is take a few minutes to ensure that your personal
    profile is up to date. </p>

<p>In order to do so, please first click on the link below to access your account:<br/>
    <a href="{{ link }}" target="_blank">{{ link }}</a><br/>
    or copy the above URL in your Web browser address bar.</p>

<p>Good Hunting!</p>

</body>
</html>