<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Loosemonkies.com - Find jobs intelligently</title>

</head>

<body>

<table width="641" border="0" cellpadding="0" cellpadding="0" style="margin: auto; font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #2f2f2f; line-height: 22px;">
    <tr>
        <td>
            <img src="http://s3.amazonaws.com/lm-bd-marketing/logo.png" />
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td style="border: 1px solid #c8c8c8; padding: 20px 35px 30px;">
            <h2 style="font-size: 16px;">Loosemonkies Secrets</h2>
            <h1 style="font-size: 22px; color: #3c5a9a;">Dear {{ firstName }} {{ lastName }}, welcome to Loosemonkies, the enhanced job hunting experience.</h1>

            <p>
                Based on a proprietary algorithm, Loosemonkies matches you with job postings – in real time! All you have to do is take a few minutes of your time to keep your profile up-to-date.
            </p>

            <p>
                Once you provide your personal information, Loosemonkies actively helps you by automatically short listing the best matched jobs and presenting them on your dashboard. This gives you the ability to evaluate the best jobs for you out there.
            </p>

            <p>
                That’s the missing link! Loosemonkies is like your own career concierge to help guide you on your journey.
            </p>

            <h2 style="font-size: 16px;">Good Hunting!</h2>

            <h2 style="font-size: 16px;">Putting the World to Work,<br />
                <span style="font-size: 14px; font-weight: normal;">The Loosemonkies Team.</span>
            </h2>

        </td>
    </tr>
</table>


</body>
</html>